body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
  text-align: center;
}

.form-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: url('\pexels-pixabay-416405.jpg') no-repeat center center; */
  background-size: cover;
  border-radius: 10px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
}

.auth-form {
  background: rgba(255, 255, 255, 0.9); /* Add transparency to the form background */
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  font-size: 28px;
  color: #333;
  font-weight: 700;
}

.auth-form input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.auth-form input:focus {
  border-color: #4facfe;
}

.auth-form button {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #4facfe;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.auth-form button:hover {
  background-color: #00c6ff;
  box-shadow: 0 8px 16px rgba(0, 198, 255, 0.3);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.event-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.event-form input,
.event-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.event-form input:focus,
.event-form textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  outline: none;
}

.event-form textarea {
  height: 100px;
  resize: vertical;
}

.event-form button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event-form button:hover {
  background-color: #0056b3;
}

.event-form button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}
